html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-image: url("../img/fon.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    font-family: 'font', sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: auto auto;
    justify-content: center;
}

.flex {
    display: flex;
}

.windows {
    margin: auto auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    background-image: none;
    color: white;
    text-shadow: 10px 0 10px #000, 0 10px 10px #000, -10px 0 10px #000, 0 -10px 10px #000;
}

.windows-messages,
.windows-users,
.windows-input {

    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-y: scroll;
    border: 1px solid black;

}

.windows-messages,
.windows-users,
.windows-input,
.btn,
.input-name{
    box-shadow: 15px 0 15px #2F4F4F, 0 15px 15px #2F4F4F, -15px 0 15px #2F4F4F, 0 -15px 15px #2F4F4F;
}

.windows-messages::-webkit-scrollbar,
.windows-users::-webkit-scrollbar,
.windows-input::-webkit-scrollbar {
     display: none;
}

.windows-messages {
    word-wrap: break-word;
    max-width: 910px;
    width: 78%;
    margin-right: 2%;
    background-image: url("../img/fon-chat.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.windows-users {
    max-width: 235px;
    width: 20%;
    background-color: black;
}

.windows-input {
    margin: 0;
    resize: none;
    max-width: 910px;
    width: 78%;
    margin-right: 2%;
    color: white;
    background-color: black;
}

.top {
    margin: 0 auto;
    max-height: 560px;
    height: 88%;
    width: 100%;
    margin-bottom: 2%;
}

.bottom {
    margin: 0 auto;
    max-height: 65px;
    width: 100%;
    height: 10%;
}

.btn {
    margin: 0;
    max-width: 235px;
    width: 20%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 900;
    color: #8FBC8F;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
}

p {
    margin: 0;
}

.user-name {
    flex-direction: row;
    align-items: center;
}

.message-text {
    margin-left: 20px;
}

.user {
    flex-direction: column;
}

.message {
    margin-bottom: 5px;
}

.users-name {
    margin-bottom: 2px;
    font-size: 1em;
    letter-spacing: 0.1em;
}

.name {
    margin: 0;
    margin-right: 5px;
    font-size: 1.1em;
    letter-spacing: 0.05em;
}
.time {
    margin: 0;
    font-size: 0.9em;
}

.reg {
    margin: auto auto;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    max-height: 680px;
    height: 100%;
    padding: 20px;
    background-image: none;
}

.welcome {
    margin: 0;
    padding-bottom: 3%;
    font-size: 400%;
    font-weight: 900;
    color: white;
    text-shadow: 3px 0 3px #000, 0 3px 3px #000, -3px 0 3px #000, 0 -3px 3px #000;
}

.nik-name {
    margin: 0;
    padding-bottom: 2%;
    font-size: 200%;
    font-weight: 900;
    color: white;
    text-shadow: 2px 0 2px #000, 0 2px 2px #000, -2px 0 2px #000, 0 -2px 2px #000;
}

.input-name {
    margin: 0 auto;
    margin-bottom: 2%;
    padding: 0;
    padding-top: 1%;
    text-align: center;
    max-width: 680px;
    min-width: 60%;
    max-height: 1.5em;
    min-height: 10%;
    font-size: 300%;
    font-weight: 900;
    color: black;
    text-shadow: 1px 0 1px #999, 0 1px 1px #999, -1px 0 1px #999, 0 -1px 1px #999;
    white-space: nowrap;
    overflow: hidden;
    resize: none;
}

.entry{
    margin: 0 auto;
    max-width: 180px;
    min-width: 20%;
    max-height: 1.5em;
    min-height: 10%;
    text-align: center;
    font-size: 200%;
    font-weight: 900;
    color: white;
    background-color: black;
    text-shadow: 2px 0 2px #000, 0 2px 2px #000, -2px 0 2px #000, 0 -2px 2px #000;
}